.Principales{
    width:32.9%;
    float:left
}

.labels {
    width: 20%;
    float: left
}

.txtbox {
    width: 79%;
    float: left
}

.txt {
    Width:300px;
}

.labelesp {
    width: 50%;
    float: left
}

.txtboxesp {
    width: 49%;
    float: left
}

.dtpck{
    width:99%;
}
