@{
    ViewBag.Title = "Home Page";
}

<div>
    
    <img src="~/Models/banner2.jpg" id="bannerimg" />
    
</div>



<div class="row">
    <div class="divimg">
        <h2 class="titulos">Nuestros alumnos nos avalan</h2>
        <p>
            <img src="~/Models/colegio1.jpg" class="img"/>
        </p>
    </div>
    <div class="divimg">
        <h2 class="titulos">Clases Presenciales</h2>
        <p>
            <img src="~/Models/Colegio2.jpg" />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprende más &raquo;</a></p>
    </div>
    <div class="divimg">
        <h2 class="titulos">Máxima calidad de formacion</h2>
        <p>
            <img src="~/Models/Colegio3.jpg" />
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Aprende más &raquo;</a></p>
    </div>
</div>